<header class="govuk-header" data-module="header" role="banner">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage"><img
                    src="/public/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage"
                    style="width: 134px; height: 113px;"></a>
        </div>
        <div class="govuk-header__content">
            <a class="govuk-header__link govuk-header__link--service-name" href="#">
                Report management information to CCS
            </a>
            <nav>
                <ul aria-label="Top Level Navigation" class="govuk-header__navigation" id="navigation">
                    <li class="govuk-header__navigation-item">
                        <a href="/tasks" class="govuk-header__link">Tasks</a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a href="/completed-tasks" class="govuk-header__link">Completed tasks</a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a href="#" class="govuk-header__link">Agreements</a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a href="#" class="govuk-header__link">URN list</a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a href="#" class="govuk-header__link">Help</a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a href="/reset" class="govuk-header__link">Sign out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>